
/* global settings*/

form{
	padding : 0px;
}

ul{
	margin : 0px;
}

/* ------- end of global settings ------------------- */


/*global layout*/

#opere_viz_space{
	background : white;
}

#params,#opere_modes{
	padding : 2%;
}

/* ------- end of global settings ------------------- */

/* Part "modes" */

#opere_modes{
	text-align : center;
}

#modes{
	display : inline-block;
}

#search{
	display:inline-block;
	float : right;
}


/*Filtri */

#params{
	/*float : left;*/
}

#filtri{
	display : inline-block;
}

#filtri p{
	display : inline-block;
	font-size : 0.9em;
}

#types{
	display:inline-block;
	float : right;
}

#ordine{
	margin-top : 10px;
}

#ordine select{
	display : inline;
}

#ordine p{
	display : inline;
}

.filter{
	display : inline-block;
	/*background-color : #b8b8b8;*/
	height: 30px;
    line-height: 30px;
    padding: 0 8px;
}

/* restyling of the radio buttons */
ul li{
	display : inline-block;
	list-style-type : none;
}

input[type=radio]{
  display: none;
}

input[type=text]{
	background : transparent;
	border : none;
    outline : none;
 }
 
input[type=text]:hover,input[type=text]:focus{
	border : 1px solid #b8b8b8;
 }

#modes, #types{
	margin : 0px;
}

#modes label,#types label {
  background: transparent;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin : 0px;
  padding : 10px;
}

#modes label:hover,#types label:hover {
  color : grey;
}

/* filter menus */
#datefiltermenu, #typefiltermenu{
	background : white;
	/*width : 500px;
	height : 200px;*/
	padding : 5px;
	position : absolute;
}

rect {
  -webkit-transition: fill-opacity 250ms linear;
}

.selecting rect {
  fill-opacity: .2;
}

.selecting rect.selected {
  stroke: #f00;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

