
section {
	width: 150px;
	height: auto;
	margin: 100px auto 0;
	position: relative;
}
#slider1 {
    background-color: #B5B0B0;
    border-color: #333333 #333333 #777777;
    border-radius: 25px 25px 25px 25px;
    border-style: solid;
    border-width: 1px;
    height: 5px;
    border-bottom:5px solid #C8C2C2;
    left: 20px;
    position: absolute;
    width: 95%;
    bottom:-4px;
}
.tooltip,.tooltip-t {
	position: absolute;
	display: block;
	bottom:15px;
	width: 35px;
	height: 18px;
	color: #fff;
	text-align: center;
	font: 10pt Tahoma, Arial, sans-serif ;
	border-radius: 3px;
	background-color:#B5B0B0;
}
/*.tooltip:after, .tooltip-t:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: #1e1e1e transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-16px;
  left:0.6em;
}*/

#tooltip1 {
	left:0px;
}

#tooltip2 {
	left:95%;
}


.volume {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	right: -5px;
	background: url('../images/volume.png') no-repeat 0 -50px;
	position: absolute;
	margin-top: -5px;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('../img_interface/slider.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	top: -7px;
	margin-left: -12px;
}
.ui-slider-range {
	background: #2CBFCF; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
	/*background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	position: absolute;
	border-bottom: 5px solid #6DDDE2;
	height:5px;
	
	top: 0;
	height: 100%;
	border-radius: 25px;
}