{% extends "archivio/layout.html" %}

{% block title %}Archivio Baldessari | {{ segnatura }}{% endblock %}

{% block header %}

	<script type="text/javascript">
		//defining the name of the section for the menu
		{%if section_name %}
			var section_name = "{{ section_name }}";
		{% endif%}	
		
	</script>
	

{{ block.super }}
	{% load static %}
	{% get_static_prefix as STATIC_PREFIX %}
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}styles/opere_style.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}styles/details_style.css">


{% endblock %}

{% block content %}

	
	<div id="opere_detail_container">
		<div id="project_general_info" class="detail-container">
			
			<!-- general infos on the left side -->
			<div id="project_general_left">
			<h4 id="style_project">
				{{ project.tipo }}
			</h4>
			
			<p class = "campo">Denominazione del progetto</p>
			<a href="{% url archivio.views.opere %}project/{{project.sigla}}"><h1> {{ project.denominazione }}</h1></a>
			<p class = "campo">Data del progetto</p>
			<h3>{{ date.begining|date:"o" }}</h3>
			</div>
			
			<div id="project_general_right">
					{% load static %}
					{% get_static_prefix as STATIC_PREFIX %}
					<img src="{{ STATIC_PREFIX }}img_interface/minimap_test.jpg">
					<a href="/">Espandi la mappa</a>
			</div>
		</div>
		
		<div id="project_gallery" class="detail-container">
			<p>Documenti presenti nell'archivio : {{ related_documents|length }}</p>
			
			<div id="gallery">
				<img width="800px" id='bigimage' src= "{{ MEDIA_URL }}{{imageadress}}" />
				<!-- <img width="800px" id='bigimage' src= "{{ STATIC_PREFIX }}{{imageadress}}" /> -->
				<!-- here goes the gallery of documents -->
			</div>
		</div>
		
		<div id="div_details">
			<div class="detail-field">
				<div class="left">
					<p class = "campo">Segnatura</p>
					<p>{{ segnatura }}</p>
				</div>
				<div class="right">
					<p class = "campo">Collocazione</p>
					<p>
						{% if collocazione != null %}
						{{ collocazione }}
						{% else %}
						-
						{% endif %}
					</p>
				</div>
			</div>
			
			<div class="detail-field">
				<div class="left">
					<p class = "campo">Unita condiz tipologia</p>
					<p>
						{% if cornicce != null %}
						{{ cornicce }}
						{% else %}
						-
						{% endif %}
					</p>
				</div>
				<div class="right">
					<p class = "campo">Tipologia</p>
					<p>
						{% if tipologia != null %}
						{{ tipologia }}
						{% else %}
						-
						{% endif %}
					</p>
				</div>
			</div>
			
			<div class="detail-field">
				<div class="left">
					<p class = "campo">Supporto</p>
					<p>
						{% if supporto != null %}
						{{ supporto }}
						{% else %}
						-
						{% endif %}
					</p>
				</div>
				<div class="right">
					<p class = "campo">Formato</p>
					<p>
						{% if largezza != null and altezza != null %}
							cm {{ largezza }} x {{ altezza }}
						{% else %}
						-
						{% endif %}
					</p>
				</div>
			</div>
			
			<div class="detail-field">
				<p class = "campo">Note</p>
				<p>
						{% if note != null %}
						{{ note }}
						{% else %}
						-
						{% endif %}
					</p>
			</div>
			
			<div class="detail-field">
				<p class = "campo">Contenuto</p>
				<p>
						{% if contenuto != null %}
						{{ contenuto }}
						{% else %}
						-
						{% endif %}
					</p>
			</div>
			
			
		</div>
		
		
	</div>
	
	
	<script type='text/javascript' src='{{ STATIC_PREFIX}}scripts/doc-magnifier.js'></script>
	

{% endblock %}
